/*
 * Copyright © 2026 Silly Little Games Studio LTD
 *
 * This source code is provided for viewing and reference purposes only.
 * Redistribution, modification, commercial reuse, or use for AI training,
 * machine learning, automated code-generation systems, or similar purposes
 * is not permitted without prior written permission.
 *
 * See LICENSE.txt for full terms.
 */

.logo {
  display: flex;
  flex-direction: column;
  background-image: url("/Images/OldLogoMini.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  background-color: #e7ecef;
  border-radius: 360px;
}

.copywrite {
  font-family: "Silkscreen", Silkscreen-Regular;
  font-size: 15px;
  color: #8fb7e6;
}
