/*
// Copyright © 2026 Silly Little Games Studio LTD
// SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0
// See LICENSE file in the project root for full license text.
 */

.manifestoText {
  font-family: "Nunito", Nunito-Regular;
  font-weight: 400;
  font-size: 19px;
  color: #e7ecef;
  width: 30vw;
}
