/*
// Copyright © 2026 Silly Little Games Studio LTD
// SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0
// See LICENSE file in the project root for full license text.
 */

html {
  background-color: #1d1130;
  scroll-behavior: smooth;
}

body {
  padding-top: 80px;
  color: #e7ecef;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PixelifySans";
  src: url("/fonts/PixelifySans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 700;
}

h1 {
  font-size: 54px;
  font-family: "PixelifySans", PixelifySans-Regular;
  color: #f2eafc;
  margin: 0%;
  width: fit-content;
}

h2 {
  font-size: 17px;
  font-family: "Nunito", Nunito-Regular;
  font-weight: 400;
  color: #b3a4cc;
  margin: 0%;
  display: flex;
}

HeroSection {
  padding-bottom: 32px;
  padding-left: 25vw;
  padding-right: 25vw;

  gap: 32px;
  display: flex;
  flex-direction: column;
}

heroHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
