.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
  padding: 6px;
  border-radius: 999px;
  border: 1px solid #f2eafc24;
  background-color: #1d1130cc;
  align-items: center;
}

.logo {
  background-image: url("/Images/OldLogoMini.png");
  background-size: 35px;
  background-position: center;
  width: 38px;
  height: 38px;
  background-color: #e7ecef;
  border-radius: 360px;
}
